a, abbr, acronym, address, applet, b, big, blockquote, body, button, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, title, tr, tt, u, ul, var h1, h2, h3, h4, h5 {
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
  margin: 0;
}
ul {
  list-style-position: inside;
}
.App {
  text-align: center;
  background-color: white;
  color: #2C2F33;
  margin: 0;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  min-height: 79vh;
  position: relative;
  margin-bottom: 15vh;
}

h1 {
  font-family: 'Anton', sans-serif;
}
a {
  color: #2C2F33!important;
  text-decoration: none!important;
}

.centered{
  margin: 0 auto !important;
}
#vert-centered{
  position: absolute; 
  top: 30vh;
  left: 30%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.form {
  width: 50vw;
}
.login-button {
  margin-bottom: 1vh;
  background-color: #2C2F33!important;
}

.register {
  color: white!important;
}

.ccs-login{
  height: 200px;
  width: 200px;
}
.form-control {
  margin-bottom: 10px;
}
.navigation-header {
  display: flex;
  height: 130px;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid black;
  background-color: rgb(241, 241, 241); 
}

.background {
  width: 100%;
  height: 150px;
  opacity: .8;
  border-bottom: 4px solid black;
}


.main-image {
  align-items: center;
  
}

.nav-link-box {
  font-size: 10pt;
  text-decoration: none !important;
  width: 150px;
  border-bottom: 3px solid transparent;
  background-color: #2C2F33;
  height: 30px;
  margin-left: 2vw;
}

.nav-link-header {
  font-family: 'Muli', sans-serif;
  color: white;
  opacity: 1!important;
  margin-bottom: 0;
  border: 3px solid black;
  align-items: center!important;
  height: 100%;
}
.nav-link-box:hover {
  border-bottom:3px solid orange;
}
a.nav-link-header {
  color:white!important;
}
.title {
  font-size: 20pt;
}



.nav-social {
  float: right;
  display: flex;
  height: auto;
  align-items: baseline; 
  position: absolute;
  right: 0;
}
.nav-links-box {
  display: flex;
  opacity: 1!important;
}
.nav-links {
  display: flex;
  align-items: center!important;
  list-style-type: none;
  border-bottom: 3px solid transparent;
  margin-bottom: 0;
  background-color: transparent;
  position: absolute;
  left: 10vw;
}

.main-image {
  float: left;
}
.nav-link-header{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  transition: .1.5s;
}


.nav-logo {
  height: 130px;
  width: 130px;
  transition: .3s;
}


.main-content{
  display: block;
}

/* grid container for main page */
.main-page {    
   
}

/* grid content first line */
.welcome-text {
list-style: none;
font-size: 2.5rem;
}

a.test {
  display: inline-block!important;
  color: #ff7800!important;
  font-size: 2.rem;
}
a.test:hover {
  text-decoration: none;
}

/* schedule */
.scroll-menu {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.scroll-menu img{
  display: inline-block;
  text-align: center;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.main-jumbotron {
  width: 80vw;
}

.jumbotron {
  margin-bottom: 0!important;
}
#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.my-team {
  height: 200px;
  width: 200px;
  margin-top: 50px;
}
.schedule-page {
  width: 75vw;
  margin: 0 auto;
  margin-top: 100px;
}


/* Social media logos */
.nav-social {
  list-style: none;
}
.social-logos {
  height: 30px;
  width: 30px;
}

.team-logo {
  height: 400px;
  width: 400px;
  float: left;
  margin-bottom: 50px;
}
.team-player {
  margin-top: 100px;
  height: 200px;
  width: 175px;
  grid-column-start: 2
}
.team-info {
  display: flex;
  
}
.team-name {
  font-size: 80pt;
}
.record {
  font-size: 50pt;
  margin-top: 30px;
  width: 400px;
  align-items: flex-end;
}

.players-box {
  margin: 0 auto;
  width: 60vw;
}
#team-name {
}
#edit {
  margin-top: 50px;
}

.player-name {
  font-size: 24pt;
  margin-top: 10px;
}
.player-cards {
  display: inline-flex;
}
.card {
  margin-right: 10px;
}

.standings-jumbo {
  width: 75vw;
  background-color: white;
  margin: 0px auto;
  padding: 5px;
}
.standings-jumbo:first-child {
  background: gold !important;
}
.standings-div {
  display: flex;
  align-content: center;
  margin-bottom: 30px;
}
.standing-logo {
  height: 100px;
  width: 100px;
  align-self: center;
  margin: 0 auto;
}
.ranking{
  float: left;
  align-self: center;
  font-size: 52pt;
}

.col-sm-12 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.page-jumbo {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.edit-team {
  height: 400px;
}

.edit-team-welcome {
  align-self: center !important;
  display: flex;
  flex-direction: column;
  width: 40vw;
}

ul.nav-tabs:first-of-type{
  display: inline-block;
}
.eu-flag {
  height: 200px;
}
.na-flag {
  height: 200px;
}
ul.nav-tabs{
  display: inline-block;
  margin: 0px 100px 50px 0px;
}
ul.nav-tabs.active{
  border-bottom: 12px solid #ff7800;
}
a.nav-link {
  width: 500px;
  height: 300px;
  opacity: 0;
}

.region-text {
  padding: 2vh;
}

.sponsors {
  display:flex;
  width: 100%;
  align-items: stretch;
  margin: 0 auto;
  justify-content: space-evenly;
  margin-bottom: 20vh;
}
.sponsors-image {
  height: 60px;
}
.sponsor-text {
  display: inline-block;
  font-size: 20pt;
  margin-bottom: 50px;
  border-bottom: 2px solid #2C2F33;
  border-top: 2px solid #2C2F33;
  align-self: center;
  margin-top: 20vh;
}
.sponsors-box {
  justify-content: space-between;
}

.btn {
  align-self: baseline;
  order: 99;
  
}
.team-page {
  margin: 0 auto;
}
/* footer */
.footer {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 6vh;
  background-color: #e9ecef;
  display: flex;
  border-top: 1px solid black;
}
.footer-boxes {
  display: flex;
  width: 33%;
  justify-content: space-evenly;
  align-items: center;
}

.footer-content {
display: flex;
width: 100%;
align-items: center;
justify-content: space-evenly;
}
#footer-exception {
  justify-content: center!important;
}
.rulebook {
  height: 6vh;
  width: 6vh;
}
.checklist { 
  margin-top: 2px;
  height: 6vh;
  width: 6vh;
}
.footer-image-right {
  height: 5vh;
  width: 5vh;
  margin: 0px 5px 0px 5px;
}
.footer-image-discord {
  height: 30px;
  width: 30px;
}
.footer-image-twitter {
  height: 35px;
  width: 25px;
}
.footer-image-youtube {
  height: 25px;
  width: 25px;
}
.footer-image-twitch {
  height: 25px;
  width: 25px;
}
.footer-text {
  font-size: 1.0em;
  margin: 0;
}
.footer-social {
  margin-left: 20px;
}
#fc-bottom {
  display: flex;
  justify-content: center;
}
#small {
  margin-left: 10px;
}
#fb-right {
justify-content: center;
}
#fc-right {
  align-items: center;
}
.schedule {
  margin: 0 auto;
}
.teeet {
  height: 75px;
  width: 75px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid #2C2F33;
  background-color: white;
  width: 20vw;
}
.t-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5px;
}

.b-box {
  display: flex;
  justify-content: space-evenly;
}

.schedule-button {
  width: 100%;
  background-color: #2C2F33 !important;
  position: relative;
  text-align: center;
  border-color: #2C2F33 !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.tet {
  display: flex;
  width: 100%;
}

.collapse {
  width: 100%;
}
.show {}

.box-container {
  display: flex;
  border-bottom: 2px solid black;
}

.buttonss {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
#hub-button {
  background-color: #262626;
  border: 1px solid #2C2F33;
  box-shadow: 4px 5px 40px 5px rgba(0,0,0,0.4);
}
.checklist-div {
  width: 75vw;
  height: 1000px;
  background-color: #e9ecef;
  margin: 0 auto;
}
.support-container {
  margin-top: 50px;
}
.support {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  justify-content: center;
}
.support-text {
  margin-top: 50px;
  font-size: 1.2rem;
}
.support-bullets {
  font-size: 1.2rem;
}
.support-image {
  height: 100px;
  width: 100px;
  margin-bottom : 10px;
}
ul li.support-bullets {
  padding: 15px;
}

/* Schedule Page */
.schedule-na {
  background-color: transparent!important;
  background: transparent!important;
}
.schedule-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  height: 10vh;
  width: 50vw;
  background-color: white;
  margin-bottom: 20px;
}
.schedule-team-pic {
  height: 6vh;
  width: 6vh;
}
.schedule-vs {
  height: 50px;
  width: 50px;
}
.schedule-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}
.schedule-top {
  height: 2vh;
  background-color: #ff7800;
}
.schedule-bottom {
  height: 2vh;
  background-color: black;
}
.schedule-time {
  margin: 0;
  height: 1vh;
  font-size: .8rem;
  color: white;
}
.schedule-team-name {
  font-size: 1.9rem;
}

.schedule-background {
  width: 100vw;  
  position: absolute;
  top: 0vh;
  left: 0px;
}
.carousel-inner {
  background-color: transparent!important;
  background: transparent!important;
  outline: 2px solid black;
  overflow: show!important;
}
.schedule-day {
}

.carosel-item {
  background-color: transparent;
  background: transparent!important;

}

.buu {
  align-self: flex-start;
}