a, abbr, acronym, address, applet, b, big, blockquote, body, button, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, title, tr, tt, u, ul, var {
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
  margin: 0;
}
.App {
  text-align: center;
  background-color: white;
  color: #2C2F33;
  margin: 0;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  min-height: 100%;
}
a{
color: #2C2F33!important;
text-decoration: none!important;
}

.centered{
  margin: 0 auto !important;
}
#vert-centered{
  position: absolute; 
  top: 30vh;
  left: 30%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form {
  margin: auto;
  width: 40vw;
}
.ccs-login{
  height: 200px;
  width: 200px;
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: #ff7800;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 30px 10px rgba(0,0,0,0.2);
  border-bottom: 1px solid black;
}
.navigation-container {
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.nav-links {

}
.nav-links a {
  color: #2C2F33;
  font-size: 14pt;
  float: left;
  margin-right: 10px;
  border: 1px solid black;
}

.nav-link-header{
  text-decoration: none !important;
  margin: 10px;
  width: 100px;
  background: white;
}

.nav-social {
  float: right;
  display: flex;
  height: auto;
  align-items: baseline; 
  position: absolute;
  right: 0;
}


.nav-links li {
  display: inline-block;
  list-style-type: none;
  height: 30px;
  
}
nav ul li a {
  display: block;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
  transition: .1.5s;
}
nav ul li a:hover {
  color: orange !important;
}

.nav-logo {
  height: 100px;
  width: 100px;
  transition: .3s;
  float: left;
}

.nav-link{
  align-self: flex-end;
  float: right;
}

.main-content{
  display: block;
}

/* grid container for main page */
.main-page {    
   
}

/* grid content first line */
.welcome-text {
list-style: none;
font-size: 2.5rem;
}

a.test {
  display: inline-block!important;
  color: orange!important;
  font-size: 2.5rem;
}
a.test:hover {
  text-decoration: none;
}

/* schedule */
.scroll-menu {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.scroll-menu img{
  display: inline-block;
  text-align: center;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.main-jumbotron {
  width: 80vw;
  margin: 300px auto 10vh auto;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.my-team {
  height: 200px;
  width: 200px;
  margin-top: 50px;
}


/* Social media logos */
.nav-social {
  list-style: none;
}
.social-logos {
  height: 30px;
  width: 30px;
}

/* Team page */
.team-jumbo {
  display: flex;
  flex-wrap: nowrap;
  margin-right: auto;
  margin-left: auto;
  height: 700px;
  width: 85vw;
}
.team-logo {
  height: 400px;
  width: 400px;
  float: left;
}
.team-player {
  margin-top: 100px;
  height: 200px;
  width: 175px;
  grid-column-start: 2
}
.team-info {
  display: flex;
  
}
.team-name {
  font-size: 80pt;
}
.record {
  font-size: 50pt;
  margin-top: 30px;
  width: 400px;
  align-items: flex-end;
}

.players-box {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 60vw;
}

.player-name {
  font-size: 24pt;
  margin-top: 10px;
}
.player-cards {
  display: inline-flex;
}
.card {
  margin-right: 10px;
}

.standings-jumbo {
  width: 75vw;
  background-color: #e9ecef;
  margin: 200px auto 0px auto;
}
.standings-jumbo:first-child {
  background: gold !important;
}
.standings-div {
  display: flex;
  align-content: center;
  margin-bottom: 30px;
}
.standing-logo {
  height: 100px;
  width: 100px;
  align-self: center;
  margin: 0 auto;
}
.ranking{
  float: left;
  align-self: center;
  font-size: 52pt;
}



.edit-jumbotron {
  display: flex;
  width: 65vw;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 15vh;
}

.edit-team {
  height: 400px;
}

.edit-team-welcome {
  align-self: center !important;
  display: flex;
  flex-direction: column;
}
.team-div {
}
ul.nav-tabs:first-of-type{
  display: inline-block;
  width: 500px;
  height: 300px;
  background-image: url("http://img.timeinc.net/time/wp/interactives/apps/flag_colors/data/images/normal/us.png");
  background-size: 500px 300px;
}
ul.nav-tabs{
  display: inline-block;
  width: 500px;
  height: 300px;
  background-image: url("https://metab.ern-net.eu/wp-content/uploads/2018/12/european-union-hi.jpg");
  background-size: 500px 300px;
  margin: 0px 50px 100px 0px;
}
ul.nav-tabs.active{
  border-bottom: 12px solid orange;
}
a.nav-link {
  width: 500px;
  height: 300px;
  opacity: 0;
}

.region-text {
  padding: 5vh;
}

.sponsors {
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 15vh;
  align-items: stretch;
  margin: 0 auto;
  margin-bottom: 100px;
}
.sponsors-image {
  display: inline-block;
}
.sponsor-text {
  display: inline-block;
  font-size: 20pt;
  margin-bottom: 50px;
  border-bottom: 2px solid #2C2F33;
  border-top: 2px solid #2C2F33;
  align-self: center;
  margin-top: 200px;
}
.sponsors-box {
  justify-content: space-around;
}

.btn {
  align-self: baseline;
  order: 99;
  
}
.team-page {
  margin: 0 auto;
}
/* footer */
.footer {
  margin-top: 100px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 6vh;
  background-color: #e9ecef;
  display: flex;

}
.footer-boxes {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}

.footer-content {
display: flex;
align-items: center;
justify-content: space-evenly;
}
.rulebook {
  height: 55px;
  width: 50px;
}
.checklist { 
  margin-top: 2px;
  height: 50px;
  width: 50px;
}
.footer-image-right {
  height: 50px;
  width: 50px;
}
.footer-image-discord {
  height: 30px;
  width: 30px;
}
.footer-image-twitter {
  height: 35px;
  width: 25px;
}
.footer-image-youtube {
  height: 25px;
  width: 25px;
}
.footer-image-twitch {
  height: 25px;
  width: 25px;
}
.footer-text {
  font-size: 1.0em;
  margin: 0;
}
#fc-bottom {
  display: flex;
  justify-content: center;
}
#small {
  margin-left: 10px;
}
#fb-right {
justify-content: center;
}
#fc-right {
  width: 10vw;
  align-items: center;
}
.schedule {
  position: relative;
  height: 250px;
}
.teeet {
  height: 75px;
  width: 75px;
}
.box {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-evenly;
  border: 1px solid black;
  align-items: center;
  background-color: #e9ecef;
}
.t-box {
  display: flex;
  width: 280px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
.b-box {
  display: flex;
  width: 280px;
  justify-content: space-evenly;
}
.schedule-button {
  width: 100%;
  background-color: #2C2F33 !important;
  position: relative;
  border-color: black !important;
  border-radius: 0 !important;
  padding: 0 !important;
}
.tet {
  display: flex;
  width: 100%;
}
.show {
  display: flex;
  width: 100%;
}
.collapse {
  display: flex;
  width: 100%;
}